<!DOCTYPE html>
<html>
<head>
  <title>Megan Marie</title>
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class='FlashBar'>
  <p class="notice"><i><%= notice %></i></p>
  <p class="alert"><i><%= alert %></i></p>
</div>

<%= yield %>

</body>
</html>
