<!DOCTYPE html>
<html>
<head>
  <title>Megan Marie</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <%= auto_discovery_link_tag :rss, posts_url(format: :rss), title: 'Megan Marie' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', 'https://fonts.googleapis.com/css?family=Roboto+Slab|Roboto' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class='PageContainer'>

  <div class='FlashBar'>
    <p class="notice"><i><%= notice %></i></p>
    <p class="alert"><i><%= alert %></i></p>
  </div>

  <div class='TopHeader'>
    <h1 class='TitleCard'>
      <%= link_to 'Megan Marie', root_path %>
    </h1>
    <div class='NavigationBar'>
      <% if user_signed_in? %>
        <a href=<%= new_post_path %>>
          <span class='fa fa-align-left'/>
        </a>
        <a href=<%= new_release_notes_posts_path %>>
          <span class='fa fa-list-ul'/>
        </a>
        <a href=<%= destroy_user_session_path%> data-method="delete">
          <span class='fa fa-sign-out'/>
        </a>
      <% else %>
        <%= link_to 'Posts', posts_url %>
        <a href='https://www.instagram.com/nuttmeg610' target='_'>
          <span class='fa fa-instagram'/>
        </a>
        <a href='https://twitter.com/meganmarie610' target='_'>
          <span class='fa fa-twitter'/>
        </a>
        <a href='https://www.linkedin.com/in/megan-marquardt' target='_'>
          <span class='fa fa-linkedin'/>
        </a>
      <% end %>
    </div>
  </div>
  
  <%= yield %>

  <div class='Footer'>
    <center>
      Built by Megan Marie
      &nbsp;&nbsp;
      <a href='mailto:hello@meganmarie.io'>
        <span class='fa fa-envelope'/>
      </a>
      &nbsp;&nbsp;
      <a href=<%=posts_url(format: :rss)%>>
        <span class='fa fa-rss'/>
      </a>
    </center>
  </div>
</div>

</body>
</html>
